{% extends 'base.html' %}
{% load static %}
{% block login %}
<head>
    <style>
        .h1, .h2 {color: #0C2E8A;}
        .h1 {font-weight: 600;}
        .btn {background-color: #0C2E8A;}
        .tagline {font-style: none; font-family: sans-serif}
    </style>
</head>
<body>
    <section id="intro">
        <div class="intro-content">
            <h2 class="tagline"><span style="text-decoration: none; color: orangered; font-family:Georgia, serif; font-style: italic">"Where should we eat?"</span><br>Simplified</h2>
            <br>
            <div class="h1 mb-5 wow fadeInUp">Welcome! Sign in to manage your events!</div>
        </div>

        <div id="intro-carousel" class="owl-carousel">
            <div class="item" style="background-image: url('/static/img/intro-carousel/veggie.jpg');"></div>
            <div class="item" style="background-image: url('/static/img/intro-carousel/sushi.jpg');"></div>
            <div class="item" style="background-image: url('/static/img/intro-carousel/donuts.jpg');"></div>
            <div class="item"
                 style="background-image: url('/static/img/intro-carousel/korean-food.jpg');"></div>
            <div class="item" style="background-image: url('/static/img/intro-carousel/russian-food.jpg');"></div>
        </div>

    </section>
    <div class="container justify-content-between" style="position: relative; top:-5em; z-index: 100">
        <div class="col-sm-5 wow fadeInLeft d-inline-block align-top bg-white p-3 rounded-top text-center">
            <div class=" h2 mb-5">Register</div>
            <form action="/process_register" method="POST" class="text-left">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="firstN" class="col-sm-4">First name:</label>
                    <input type="text" class="form-control col-sm-8" id="firstN" name="first_name">
                    {% if messages %}
                        <div class="messages offset-4 text-danger">
                            {% for message in messages %}
                                {% if message.tags == 'first_name error' %}
                                    <small>{{ message }}</small>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row mt-3">
                    <label for="firstN" class="col-sm-4">Last name:</label>
                    <input type="text" class="form-control col-sm-8" id="lastN" name="last_name">
                    {% if messages %}
                        <div class="messages offset-4 text-danger">
                            {% for message in messages %}
                                {% if message.tags == 'last_name error' %}
                                    <small>{{ message }}</small>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row mt-3">
                    <label for="email" class="col-sm-4">Email:</label>
                    <input type="text" class="form-control col-sm-8" id="email" name="email">
                    {% if messages %}
                        <div class="messages offset-4 text-danger">
                            {% for message in messages %}
                                {% if message.tags == 'email error' %}
                                    <small>{{ message }}</small>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row mt-3">
                    <label for="password" class="col-sm-4">Password</label>
                    <input type="password" class="form-control col-sm-8" id="password" name="password">
                    {% if messages %}
                        <div class="messages offset-4 text-danger">
                            {% for message in messages %}
                                {% if message.tags == 'password error' %}
                                    <small>{{ message }}</small>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row mt-3">
                    <label for="c_password" class="col-sm-4">Confirm PW:</label>
                    <input type="password" class="form-control col-sm-8" id="c_password" name="c_password">
                    {% if messages %}
                        <div class="messages offset-4 text-danger">
                            {% for message in messages %}
                                {% if message.tags == 'c_password error' %}
                                    <small>{{ message }}</small>
                                {% endif %}
                            {% endfor %}
                        </div>

                    {% endif %}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Register!</button>
                </div>
            </form>
        </div>
        <div class="col-sm-5 offset-sm-1 wow fadeInRight d-inline-block align-top bg-white p-3 rounded-top text-center">
            <div class="h2 mb-5">Login</div>
            <form action="/process_login" method="POST" class="text-left">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="login_email" class="col-sm-4">Email:</label>
                    <input type="text" class="form-control col-sm-8" id="login_email" name="login_email">
                </div>
                <div class="form-group row">
                    <label for="login_password" class="col-sm-4">Password</label>
                    <input type="password" class="form-control col-sm-8" id="login_password" name="login_password">
                    {% if messages %}
                        <div class="messages offset-4 text-danger">
                            {% for message in messages %}
                                {% if message.tags == 'login error' %}
                                    <small>{{ message }}</small>
                                {% endif %}
                            {% endfor %}
                        </div>

                    {% endif %}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            </form>
        </div>

    </div>
 </body>
{% endblock %}
